.o-footerWrapper {
    color: #ffffff;
    background-color: $c-gray;
    padding-top: rem(65);
    padding-bottom: rem(30);
}

.o-footer {
    @include above(large) {
        display: flex;
        flex-flow: row wrap;
    }

    a:not(.a-button) {
        color: #ffffff;

        &:hover {
            color: lighten($c-lightblue, 20%);
        }
    }

    &__col {
        margin-bottom: rem(45);
        flex: 0 0 auto;

        &.--col1 {
            @include above(large) {
                width: 50%;
            }

            @include above(xlarge) {
                width: 28%;
                margin-right: rem(50);
            }
        }

        &.--col2 {
            @include above(large) {
                width: 50%;
            }

            @include above(xlarge) {
                width: 15%;
            }
        }

        &.--col3 {
            @include above(large) {
                width: 50%;
            }

            @include above(xlarge) {
                width: 31%;
            }
        }

        &.--col4 {
            @include above(large) {
                width: 50%;
            }

            @include above(xlarge) {
                width: 20%;
                margin-bottom: 0;
            }
        }
    }

    &__logo--dektop {
        display: none;

        @include above(large) {
            display: block;
        }
    }

    &__logo--mobile {
        height: 80px;

        @include above(large) {
            display: none;
        }
    }

    &__logoWrapper {
        max-width: rem(340);
        margin-bottom: rem(52);

        @include above(large) {
            flex: 0 0 auto;
            width: 100%;
            max-width: 100%;
        }

        img {
            max-width: 100%;
            filter: brightness(0) invert(1);
        }
    }

    &__list.--contact {
        font-size: rem(18);
        font-weight: 500;

        li {
            display: flex;
            align-items: center;
        }

        li+li {
            margin-top: rem(28);
        }

        svg {
            flex: 1 0 auto;
            min-width: rem(34);
            max-width: rem(34);
            max-height: rem(35);
            margin-right: rem(17);
            opacity: 0.7;
        }
    }

    &__list.--nav {
        display: flex;
        flex-flow: row wrap;

        @include above(large) {
            display: block;
        }

        li {
            flex: 0 0 auto;
            width: 50%;
            line-height: 1.5;
            margin-bottom: rem(28);

            @include above(large) {
                width: 100%;
            }
        }

        li:last-child {
            margin-bottom: rem(0);
        }
    }

    &__list.--nav2,
    &__list.--nav3 {
        display: block;

        li {
            width: 100%;
        }
    }

    &__button {
        margin-top: rem(50);
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(16);

        @include above(large) {
            font-size: rem(14);
        }
    }

    &__copy {
        background-color: $c-gray;
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        font-size: rem(14);
        text-align: center;
        height: rem(80);
        @include flexvhcenter;
        color: #ffffff;

        a {
            color: inherit;
            font-weight: 900;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .mail,
    .phone {
        @include above(large) {
            font-size: rem(22);
        }
    }

    &__cms {
        font-size: rem(15);
        color: #ffffff;

        a {
            &:hover {
                color: lighten($c-lightblue, 20%);
            }
        }
    }
}
