$navBreakpoint: 1260px;

.o-headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(80);
    padding-left: rem(40);
    padding-right: rem(40);
    z-index: 10;
    background: #ffffff;

    @include above($navBreakpoint) {
        position: static;
        height: auto;
        padding-bottom: rem(10);
    }
}


.o-header {
    flex: 0 0 auto;
    width: 100%;
    z-index: 0;
    height: rem(80);

    @include above($navBreakpoint) {
        height: auto;
    }

    &__brandLogo--mobile {
        height: 55px;
        max-width: 100%;

        @include above($navBreakpoint) {
            display: none;
        }
    }


    &__brandLogo--desktop {
        max-width: 100%;
        display: none;

        @include above($navBreakpoint) {
            display: block;
        }
    }

    &__desktop {
        display: none;

        @include above($navBreakpoint) {
            max-width: rem(1440);
            margin-left: auto;
            margin-right: auto;
            background: #ffffff;
            height: rem(100);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__highlights {
        height: 100%;
        font-size: rem(12);
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            max-width: rem(260);
            line-height: 1.4;
        }

        li+li {
            margin-left: 5.5%;
        }

        .hl {
            font-weight: 700;
            color: $c-blue;
        }

        svg {
            flex: 0 0 auto;
            width: rem(25);
            margin-right: rem(15);
            display: inline-block;
            vertical-align: center;
        }
    }

    &__burger {
        margin-right: rem(-12);

        @include above($navBreakpoint) {
            display: none;
        }
    }

    &__navWrapper {
        display: none;
        position: absolute;
        background: $c-blue;
        left: 0;
        top: rem(80);
        width: 100%;
        padding-top: rem(44);
        padding-left: 10%;
        padding-bottom: rem(15);
        max-height: calc(100vh - 80px);
        overflow: auto;

        @include above($navBreakpoint) {
            overflow: visible;
            display: flex;
            position: static;
            background: none;
            padding: 0;
            top: 0;
            left: 0;
            max-height: 100%;
        }
    }

    &__navList {
        @include above($navBreakpoint) {
            display: flex;
        }

        li a {
            display: inline-block;
            color: #ffffff;
            font-size: rem(24);
            margin-bottom: 1.2em;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid #ffffff;
            }


            @include above($navBreakpoint) {
                font-size: rem(18);
                color: $c-gray;
                padding-bottom: rem(10);
                margin-bottom: rem(30);
                border-bottom: 2px solid transparent;

                &:hover {
                    color: $c-blue;
                    border-bottom: 2px solid $c-blue;
                }
            }
        }

        li {
            @include above($navBreakpoint) {
                margin-right: rem(62);
            }

            &:last-child {
                margin-right: 0;
            }
        }

    }

    &__glass {
        display: none;
        @include absolutecover;
        background: rgba(0, 0, 0, 0.35);
        width: 100vh;
        height: 100vh;
        top: rem(80);
    }
}


.l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include above($navBreakpoint) {
        padding-top: rem(20);
        max-width: rem(1440);
        margin-left: auto;
        margin-right: auto;
    }

    &__col {

        &.--right {
            @include above($navBreakpoint) {
                flex: 0 0 auto;
            }
        }
    }
}


.o-headerWrapper.is-opened {
    .o-header__navWrapper {
        display: block;
    }

    .o-header__glass {
        display: block;
    }
}

.o-header--stickyDesktop {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    border: 1px solid $c-border-gray;
    height: rem(90);
    padding-left: rem(25);
    padding-right: rem(25);

    .o-header__desktop {
        height: rem(90);
        background: transparent;
    }

    @include below(1260) {
        display: none !important;
    }


    &.is-shown {
        transform: translateY(0);
    }

    .o-header__highlights {

        border-left: 1px solid $c-border-gray;
        padding-left: rem(20);
        margin-left: rem(20);
        height: rem(49);
    }

    .o-header__desktopImage {
        width: rem(44);
        height: rem(49);
    }

    .--col1 {
        display: flex;
        align-items: center;
    }

    .--col2 {
        display: flex;
        align-items: center;
    }

    .a-infoButton {
        border-radius: 0;
        border: none;
        border-left: 1px solid $c-border-gray;
        margin-left: rem(20);
    }

    .a-burger {
        display: block;
    }

    .o-header__navWrapper {
        width: calc(100% + 50px);
        height: rem(60);
        background: $c-blue;
        margin-left: rem(-25);


        .o-header__navList {
            max-width: rem(1440);
            margin-left: auto;
            margin-right: auto;
        }

        li {
            @include flexvcenter;

            a {
                color: #ffffff;
                padding: 0;
                padding-top: 3px;
                padding-bottom: 5px;
                margin-bottom: 0;

                &:hover {
                    border-bottom: 2px solid #ffffff;
                }
            }
        }
    }
}


.o-header__navList {
    .sub-menu {
        margin-top: rem(-10);
        padding-left: rem(15);
        margin-bottom: rem(15);

        @include above($navBreakpoint) {
            display: none;
            background-color: #fafafa;
            position: absolute;
            z-index: 10;
            width: rem(400);
            left: -25%;
            padding: 1.5em 2.5em 0;
        }

        li a {
            font-size: rem(16);
            margin-bottom: rem(15);

            @include above($navBreakpoint) {
                line-height: 1.2;
                color: $c-gray;

                &:hover {
                    border-bottom: 2px solid $c-blue;
                }
            }
        }
    }

    .menu-item-has-children {
        position: relative;

        &:hover {
            .sub-menu {
                top: rem(60);
                display: block;
            }
        }
    }
}
