.o-postRotator {
    @include above(large) {
        display: flex;
        position: relative;
        right: -1.5vw;
        width: 124%;
        margin-top: rem(50);
    }

    &__col {
        flex: 0 0 auto;

        &.--col1 {
            @include above(large) {
                width: 50%;
                order: 2;
                display: flex;
            }
        }

        &.--col2 {
            @include above(large) {
                padding-top: rem(70);
                width: 40%;
                margin-right: rem(20);
                display: flex;
                flex-flow: column;
            }
        }
    }

    &__content {
        @include above(large) {
            max-width: rem(600);
        }
    }

    &__active {
        height: rem(265);
        @include bgcovercenter;
        margin-right: rem(-40);
        margin-bottom: rem(10);

        @include above(large) {
            width: 100%;
            margin: 0;
            height: auto;
            min-height: rem(365);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-right: rem(-40);
        margin-bottom: rem(25);

        @include above(large) {
            margin: 0;
            margin-top: rem(70);
            order: 3;
        }
    }

    &__listItem {
        max-width: 31.5%;
        height: rem(85);
        flex: 0 0 auto;

        @include above(medium) {
            height: rem(140);
        }

        @include above(large) {
            width: 31.5%;
            height: rem(160);
        }

        button {
            display: flex;
            height: 100%;

        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    &__title {
        font-size: rem(24);
        line-height: 1.33;
        font-weight: 700;
        color: $c-blue;
        margin-bottom: rem(25);

        @include above(large) {
            font-size: rem(36);
            margin-bottom: rem(40);
        }
    }

    &__description {
        color: $c-lightblue;
        line-height: 1.8;
    }

    &__link {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        color: $c-blue;
        font-size: rem(14);
        margin-top: rem(25);
    }
}
