.page-template-offer {
    figure.wp-block-image {
        margin: 0;
    }
}

.slick-slide {
    outline: none
}

.custom-link:focus {
    outline: none
}

.outline-none {
    outline: none;
}

.l-container__item {
    margin-bottom: 100px;
}

.slick-slide {
    -webkit-backface-visibility: hidden;
}


.logos-slider-off,.t-logosSlider__sliderWrapper{
    display: none;
}
a#okbutton {
    -webkit-transition: background-color .15s ease,color .15s ease;
    transition: background-color .15s ease,color .15s ease;
}

a#okbutton:hover {
    background: #2b71aa !important;
    border: 1px solid #2b71aa !important;
}