$breakpoints: (
  small: 0,
  medium: 600px,
  large: 1100px,
  xlarge: 1300px,
  xxlarge: 1460px,
  wide: 1800px,
  xwide: 1950px,
);

$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge wide xwide);

// Grid settings
$grid-columns: 12;
$global-width: 1170px;
$grid-container: $global-width;
$debug: false;
$grid-margin-gutters: (
  small: 30px,
  medium: 30px
);

$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: (
  small: 0
);
