.m-blogMenu {
    display: none;
    background: #fcfcfc;
    &__link {
        display: flex;
        font-weight: 600;
        color: #2b71aa;
        border: 1px solid #DFEFFC;
        margin-bottom: -1px;
        padding: 1rem 2rem;
    }
}

.m-blogMenu.is-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:1260px) {
    .m-blogMenu--mobile {
        display: none !important;
    }
    .m-blogMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(50);
        background: #fcfcfc;
        min-height: rem(120);
        text-align: center;
        &__link {
            display: flex;
            font-weight: 800;
            position: relative;
            color: #2b71aa;
            border: none;
        }
        &__link::before {
            content: '';
            height: 2px;
            width: 101%;
            position: absolute;
            left: 0;
            transition: transform 0.2s ease-in-out;
            transform-origin: center right;
            transform: scaleX(0);
            background-color: #2b71aa;
            bottom: 5%;
        }
        &__link:hover:before {
            transform: scaleX(1);
            transform-origin: center left;
        }
    }
}

.m-blogMenu--mobile {
    display: flex;
    align-items: center;
    p {
        margin-left: 20px;
    }
}