.m-card {
    background-color: #F4F9FE;
    text-align: center;



    &__imageWrapper {
        border-radius: 100%;
        overflow: hidden;
        width: rem(100);
        height: rem(100);
        margin: 0 auto rem(24);
        border: 3px solid $c-blue;

    }

    &__title {
        font-size: rem(20);
        font-family: $stack-main;
        font-weight: 500;
        text-align: center;
        margin-bottom: rem(24);
    }

    &__listItem {
        font-size: rem(14);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(35);

        @include above(large) {
            justify-content: flex-start;
        }


        a {
            color: $c-blue;
        }

        svg {
            color: #0097FF;
            width: rem(30);
            min-width: rem(30);
            fill: #0097FF;
            margin-right: rem(10);
        }

        &.email,
        &.phone {
            font-weight: 700;
        }

        .phones-wrapper {
            color: $c-blue;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 rem(5);
            max-width: rem(220);
        }
    }

    &__button.--upper {

        padding-left: rem(22);
        padding-right: rem(22);
    }
}
