.m-pressTile {
    height: 100%;
    display: flex;
    flex-flow: column;

    &__image {
        position: relative;
        height: rem(230);
        @include bgcovercenter;

        &.no-image {
            background: url(~/img/justice.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: $c-lightblue;
        }
    }

    &__body {
        flex: 1 1 auto;
        border: 1px solid $c-border-lightblue;
        padding: rem(24);
        color: $c-blue;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        @include above(medium) {
            padding: rem(15) rem(15);
        }
    }

    &__title {
        font-family: $stack-main;
        margin-bottom: rem(30);
        line-height: rem(21.3);
        text-align: left
    }

    &__title--link {
        color: #2b71aa;
    }

    &__description {
        margin-bottom: rem(30);
        text-align: justify;
    }

    &__link.a-button {
        margin-top: auto;
        margin-bottom: 0;
        padding: rem(11) rem(18);
        font-size: rem(13);
    }

    &__tags {
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    &__tag {
        background: $c-border-gray;
        color: #0a0a0a;
        font-size: rem(11);
        border-radius: 4px;
        padding: 0.25em 0.4em;
        margin-right: 0.3em;
        margin-bottom: 0.3em;
    }

    @include breakpoint(large) {
        &__body {
            padding: rem(35) rem(40);
        }
    }
}
