.m-successTile {
    transition: all 0.2s ease;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 0 25px -2px rgba($c-blue, 0.25);
    }
    a {
        color: $c-gray;
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    &__image {
        height: rem(210);
        background-size: cover;
        flex: 0 0 auto;
        &.empty {
            background: url(~img/justice.jpg);
            background-origin: cover;
            background-position: center center;
        }
    }
    &__body {
        padding: rem(32) rem(40);
        border: 1px solid $c-border-lightblue;
        flex: 1 0 auto;
    }
    &__title {
        font-weight: 700;
        font-size: rem(18);
        margin-bottom: rem(38);
        color: $c-blue;
        min-height: rem(54);
    }
    &__barQuotes {
        display: flex;
        justify-content: space-between;
        font-size: rem(24);
        font-weight: 700;
        color: $c-gray;
        >span:first-child {
            color: $c-lightgray;
        }
    }
    &__barWrapper {
        margin-bottom: rem(15);
    }
    &__bar {
        margin-top: rem(12);
        margin-bottom: rem(20);
        height: rem(6);
        border-radius: 15px;
        background-color: #c4c4c4;
        position: relative;
        display: flex;
        >span {
            display: inline-block;
            height: 100%;
            flex: 0 0 auto;
            transition: all 2s ease;
        }
        .color {
            background-color: $c-blue;
        }
        .shield {
            display: block;
            position: absolute;
            width: rem(35);
            height: rem(35);
            border: 1px solid $c-border-gray;
            border-radius: 100%;
            @include flexvhcenter;
            top: -15px;
            z-index: 1;
            background-color: #ffffff;
            svg {
                width: rem(18);
            }
        }
    }
    &__barLabels {
        display: flex;
        justify-content: space-between;
        font-size: rem(14);
        color: $c-blue;
        >span {
            max-width: rem(100);
        }
        >span:last-child {
            text-align: right;
        }
    }
    &__description {
        margin-bottom: rem(20);
        * {
            font-size: rem(14);
            line-height: 1.5;
        }
    }
    &__link.a-button {
        padding: rem(11) rem(18);
        font-size: rem(13);
    }
}

/////Lazyload shield/////
.m-successTile__body:not(.in-viewport) {
    .shield {
        left: 0 !important;
    }
    .transparent {
        width: 0 !important;
    }
    .color {
        width: 0 !important;
    }
}