            .m-widget {
                padding: rem(35) rem(25);

                .title {
                    font-family: $stack-main;
                    font-size: rem(18);
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: rem(40);
                }
            }

            .tag {
                .m-widget {
                    &.--category {
                        margin-top: 0 !important;
                    }
                }
            }

            .m-widget {
                &.--category {

                    margin-top: rem(60) !important;
                    padding: 0;

                    .list {
                        li+li {
                            margin-top: rem(20);
                        }

                        li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        li a::before {
                            display: inline-flex;
                            font-size: inherit;
                            overflow: visible;
                            margin-right: rem(18);
                        }

                        li:nth-child(1) a:before {
                            /* Icon  Wypadek drogowy */
                            content: url(~img/2.svg);
                            width: rem(40);
                        }

                        li:nth-child(2) a:before {
                            /* Icon  uszczerbek na zdrowiu */
                            content: url(~img/4.svg);
                            width: rem(28);
                            margin-right: rem(32);
                        }

                        li:nth-child(3) a:before {
                            /* Icon  śmierć osoby bliskiej */
                            content: url(~img/1.svg);
                            width: rem(40);
                        }

                        li:nth-child(4) a:before {
                            /* Icon Inne */
                            content: url(~img/6.svg);
                            width: rem(40);
                        }

                        li:nth-child(5) a:before {
                            /* Icon Case study */
                            content: url(~img/5.svg);
                            width: rem(28);
                            margin-right: rem(32);
                        }

                        li:nth-child(6) a:before {
                            /* Icon  Błąd medyczny */
                            content: url(~img/3.svg);
                            width: rem(28);
                            margin-right: rem(32);
                        }

                        li a {
                            display: flex;
                            align-items: center;
                            color: #205784;
                            width: 100%;
                            font-size: rem(16);
                            border: 1px solid $c-border-lightblue;
                            padding: rem(15) rem(25);
                            line-height: rem(20);
                            min-height: 81px;

                            &:hover {
                                border-color: #205784;
                                transform: translateY(-4px);
                            }
                        }
                    }
                }
            }

            .m-widget {


                &.--links {
                    padding: 0;
                    margin-top: rem(60) !important;

                    .list {
                        li+li {
                            margin-top: rem(20);
                        }

                        li {
                            display: inline-flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid $c-border-lightblue;
                            padding: rem(15) rem(25);
                            cursor: pointer;

                            &:hover {
                                transform: translateY(-4px);
                            }
                        }

                        .icon {
                            width: 55px;
                            height: 45px;
                            background-position: center !important;
                            background-size: contain !important;
                            background-repeat: no-repeat !important;
                            margin-right: 18px;
                        }

                        li a {
                            display: flex;
                            align-items: center;
                            color: #205784;
                            width: 100%;
                            font-size: rem(16);
                        }
                    }
                }
            }

            .m-widget+.m-widget {
                margin-top: rem(20);
            }

            .m-widget {
                &.--related {
                    padding: 0;
                    padding-top: rem(20);

                    ul {
                        color: #205784;

                        li a {
                            color: #205784;
                            display: block;
                            padding: rem(15) rem(25);
                            border: 1px solid $c-border-lightblue;
                            transition: all 0.2s ease;

                            &:hover {
                                border-color: #205784;
                                transform: translateY(-4px);
                            }

                            p:nth-child(1) {
                                font-family: $stack-main;
                                font-size: rem(16);
                                margin-bottom: rem(15);
                                line-height: rem(20);
                            }

                            p:nth-child(2) {
                                color: #2B71AA;
                                text-transform: uppercase;
                                font-weight: 700;
                                font-size: rem(12);
                            }
                        }

                        li+li {
                            margin-top: rem(10);
                        }
                    }
                }
            }
