@function rem($pixels) {
    @return ($pixels/16) + rem;
}


@function em($pixels) {
    @return ($pixels/16) + em;
}


@function max($numbers...) {
    @return m#{a}x(#{$numbers})
}


@function min($numbers...) {
    @return m#{i}n(#{$numbers})
}
