@mixin flex {
  display: flex;
}

@mixin flexvcenter {
  display: flex;
  align-items: center;
}

@mixin flexhcenter {
  display: flex;
  justify-content: center;
}

@mixin flexvhcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bgcovercenter {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin bgcontain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin square($size) {
  width: rem($size);
  height: rem($size);
}

@mixin circle($size) {
    @include square($size);
    border-radius: 100%;
}

@mixin absolutecover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@mixin vh {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


@mixin limit-center($width) {
    max-width: rem($width);
    margin-left: auto;
    margin-right: auto;
}
