$c-lightblue: #3680b8;
$c-blue: #2b71aa;
$c-darkblue: #205784;

$c-gray: #474f5e;
$c-lightgray: #91959e;

$c-border-gray: #c3c8ce;
$c-border-lightblue: #DFEFFC;

$font-main: 'Poppins';
$font-secondary: 'Playfair Display';

$stack-main: $font-main, sans-serif;
$stack-secondary: $font-secondary, serif;
