.cms-content {
    line-height: 1.5;
    color: $c-gray;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1em;
        line-height: 1.5;
        font-weight: 500;
    }

    h1 {
        @include above(large) {
            font-size: 2.4em;
            font-weight: 500;
            margin-bottom: 0.4em;
        }
    }
    h2 {
        @include above(large) {
            font-size: 2.2em;
            font-weight: 500;
            margin-bottom: 0.4em;
        }
    }

    h3 {
        @include above(large) {
            font-size: 2em;
            font-weight: 500;
            margin-bottom: 0.4em;
        }
    }
    h4 {
        @include above(large) {
            font-size: 1.8em;
            font-weight: 500;
            margin-bottom: 0.4em;
        }
    }

    p {
        line-height: 1.65;

        @include above(large) {
            font-size: 1.15em;
            line-height: 1.65;
        }
    }

    ul {
        margin-top: 1.8em;
        margin-bottom: 2.2em;

        font-size: rem(18);

        @include above(large) {
            margin-top: 2em;
        }

        li {
            padding-left: rem(30);
            position: relative;
            font-weight: 500;
            line-height: 1.4;

            &::before {
                left: 0;
                content: '';
                position: absolute;
                top: 0.6em;
                @include circle(5);
                background-color: $c-blue;
            }
        }

        li+li {
            margin-top: 1.5em;
        }
    }

    ol {
        margin-top: 1.8em;
        margin-bottom: 2.2em;
        font-size: rem(18);
        margin-left: 0;
        padding-left: rem(17);

        li {
            padding-left: rem(20);
            position: relative;
            font-weight: 700;
        }

        li+li {
            margin-top: 1em;
        }
    }

    >*+* {
        margin-top: 1em;
    }

    .wp-block-columns {
        .wp-block-column+.wp-block-column {
            margin-top: rem(40);

            @include above(800) {
                margin-top: 0;
            }
        }
    }

    ol.custom-numbered,
    ol.is-style-big-numbers {
        list-style-type: none;
        counter-set: custom-numbered;
        padding-left: 0;
        margin-top: rem(30);
        margin-bottom: rem(30);

        li {
            counter-increment: custom-numbered;
            font-weight: 500;
            display: flex;
            align-items: center;
            flex-flow: row wrap;

            @include above(large) {
                font-size: rem(18);
            }

            &::before {
                display: inline-block;
                content: counter(custom-numbered) '.';
                font-weight: 500;
                color: $c-blue;
                margin-right: rem(30);
                min-width: rem(30);
                text-align: right;
                font-size: rem(24);

                @include above(large) {
                    font-size: rem(32);
                }
            }

            ol {
                width: 100%;
                flex: 0 0 auto;
            }
        }

        li+li {
            margin-top: 2em;
        }
    }

    ul.is-style-check-icon,
    ul.is-style-chevron-icon,
    ul.is-style-big-bullet {
        li {
            font-weight: 500;
            padding-left: rem(50);

            &::before {
                content: '';
                background-color: transparent !important;
                background-image: url('~img/tick.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                width: 25px;
                height: 25px;
                position: absolute;
                left: 0;
                top: rem(-8);

                @include above(large) {
                    top: rem(-8);
                }
            }
        }

        li+li {
            margin-top: rem(32);

            @include above(large) {
                margin-top: rem(48);
            }
        }
    }

    ul.is-style-chevron-icon {
        li {
            &::before {
                width: 18px;
                height: 18px;
                background-image: url('~img/chevron.png');
                top: -1px;
            }
        }
    }

    ul.is-style-big-bullet {
        li {
            &::before {
                width: 13px;
                height: 13px;
                background-image: none;
                background-color: $c-blue !important;
                top: 1px;
            }
        }
    }

    .offer-table {
        overflow: auto;
        font-size: rem(12);

        ul {
            font-size: inherit;
        }

        @include above(medium) {
            font-size: rem(16);
        }

        tr td:first-child {
            padding: 1em;
            padding-left: 0;
        }

        tr td:last-child {
            padding: 1em;
            padding-right: 0;
        }

        tr td {
            border-bottom: 1px solid $c-lightblue;
        }
    }

    ////Wordpress-core////
    .alignnone {
        margin: 5px 20px 20px 0;
    }

    .aligncenter,
    div.aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }

    .alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }

    .alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }

    .aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }

    a {
        img {
            &.alignright {
                float: right;
                margin: 5px 0 20px 20px;
            }

            &.alignnone {
                margin: 5px 20px 20px 0;
            }

            &.alignleft {
                float: left;
                margin: 5px 20px 20px 0;
            }

            &.aligncenter {
                display: block;
                margin-left: auto;
                margin-right: auto
            }
        }
    }

    .wp-caption {
        background: #fff;
        border: 1px solid #f0f0f0;
        max-width: 96%;
        /* Image does not overflow the content area */
        padding: 5px 3px 10px;
        text-align: center;

        &.alignnone {
            margin: 5px 20px 20px 0;
        }

        &.alignleft {
            margin: 5px 20px 20px 0;
        }

        &.alignright {
            margin: 5px 0 20px 20px;
        }

        img {
            border: 0 none;
            height: auto;
            margin: 0;
            max-width: 98.5%;
            padding: 0;
            width: auto;
        }

        p.wp-caption-text {
            font-size: 11px;
            line-height: 17px;
            margin: 0;
            padding: 0 4px 5px;
        }
    }

    p,
    span,
    li,
    h2 {
        a {
            color: $c-lightblue;
            transition: 0.5s linear;
            position: relative;
            text-decoration: none;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(57, 128, 187, 0) 50%, rgba(57, 128, 187, 1) 50%, rgba(57, 128, 187, 1) 60%, rgba(57, 128, 187, 0) 60%, );
            background-size: 0 100%;
            background-repeat: no-repeat;
            background-position-y: 10px !important;
            transition: 250ms linear;
        }

        a:hover {
            background-size: 100% 100%;
        }

        a:visited {
            color: #0097FF;
        }

        a:hover {
            color: $c-blue;
        }
    }

    h1,
    h2,
    h3 {
        a {
            background-position-y: 20px !important;
        }
    }
}
