.generic {
    &-title {
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        margin-bottom: rem(25);

        @include above(large) {
            font-size: rem(36);
            margin-bottom: rem(40);
            @include limit-center(900);
        }
    }

    &-description {
        text-align: center;

        @include above(large) {
            font-size: rem(18);
            @include limit-center(900);
        }

        > * {
            color: $c-lightgray;
            line-height: 1.8;
        }
    }
}
