html:root {
    --current-breakpoint: 'sm';
    @include breakpoint(medium) {
        --current-breakpoint: 'md'
    }
    @include breakpoint(large) {
        --current-breakpoint: 'lg'
    }
    @include breakpoint(xlarge) {
        --current-breakpoint: 'xl'
    }
    @include breakpoint(xxlarge) {
        --current-breakpoint: 'xxl'
    }
    @include breakpoint(wide) {
        --current-breakpoint: 'wide'
    }
}

html,
body {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    font-family: $stack-main;
}

body {}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
dl,
dd,
dt {
    padding: 0;
    margin: 0;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $stack-secondary;
}

ul {
    list-style-type: none;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: none
    }
}

blockquote {
    margin: 0;
}

cite {
    font-style: unset;
}

picture {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.has-bg-blue {
    background: $c-blue;
    color: #ffffff;
    .generic-description {
        color: #ffffff;
        >* {
            color: #ffffff;
            opacity: 0.6;
        }
    }
    .a-spacer span {
        background-color: #ffffff;
    }
}

.has-bg-lightblue {
    background-color: #F4F9FE;
    color: $c-gray;
    .generic-description {
        color: $c-gray;
        >* {
            color: $c-gray;
        }
    }
    .a-spacer span {
        background-color: $c-gray;
    }
}