.l-pageWrapper {
    width: 100%;
    overflow-x: hidden;
}

.l-offsetHeader {
    padding-top: rem(80);

    @include above(large) {
        display: none;
    }
}

.l-borders {
    padding-left: rem(25);
    padding-right: rem(25);

    @include above(medium) {
        padding-left: rem(60);
        padding-right: rem(60);
    }
}

.l-section {
    padding-top: rem(15);
    padding-bottom: rem(50);

    @include above(large) {
        padding-top: rem(65);
        padding-bottom: rem(50);
    }

    &__header {
        margin-bottom: rem(35);
    }
}

.l-section.no-spacer {
    padding-top: rem(50);

    @include above(large) {
        padding-top: rem(65);
        padding-bottom: rem(85);
    }
}

.l-container {
    max-width: rem(1440);
    margin-left: auto;
    margin-right: auto;
}
