.nf-form {
    .nf-form-content {
        padding: 0;
    }

    .nf-form-fields-required,
    .nf-form-title {
        display: none;
    }

    .nf-field-label {
        label {
            text-transform: uppercase;
            font-weight: 500;
            font-size: rem(16);
        }
    }

    .nf-field-element {
        input,
        textarea {
            font-family: $stack-secondary;
            font-size: rem(18);
            background-color: #ffffff!important;
        }

        select {
            font-family: $stack-secondary;
            font-size: rem(18);
        }

        select + div {
            background-color: #ffffff!important;
        }
    }

    .a-button {
        background-color: #474F5E;
        width: 100%;
        max-width: rem(320);
        text-align: center;
        display: block;
        padding-top: rem(17) !important;
        padding-bottom: rem(17) !important;
        font-size: rem(18) !important;
        font-weight: 700;
    }

    .checkbox-wrap {
        .nf-field-label {
            label {
                text-transform: none;
                color: rgba(1, 63, 107, 0.7);
                font-size: rem(14);
                font-weight: 400;

                &::after {
                    background: #ffffff;
                    top: 3px;
                }
            }
        }
    }

    .nf-form-content {
        max-width: 100%;
    }
}


.nf-form--visit {
    @include above(large) {
        nf-fields-wrap {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            nf-field {
                width: 100%;
            }

            nf-field:nth-child(1),
            nf-field:nth-child(2),
            nf-field:nth-child(3) {
                width: 32%;
            }

            nf-field:nth-child(4) {
                width: 50%;
            }
        }

    }
}
