/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.u-h {
    display: none !important;
}


.u-tu {
    text-transform: uppercase;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.u-vh {
    @include vh;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.u-vh.focusable:active,
.u-vh.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */
.u-invisible {
    visibility: hidden;
}


.u-white {
    color: #ffffff;
}


.u-quotes {
    &::before,
    &::after {
        content: ',,';
        letter-spacing: 0.005px;
        font-size: rem(18);
        position: relative;
        display: inline-block;
        font-weight: 700;
    }

    &::before {
        transform: rotate(180deg);
        top: -0.2em;
    }

    &::after {
        top: -0.65em;
        left: 0.05em;
    }

}
