.a-burger {
    @include flexvhcenter;
    padding: rem(12);
    flex-flow: column;
    outline: none;
}


.a-burger__line {
    display: block;
    background-color: $c-blue;
    width: rem(26);
    height: rem(3);
    transition: opacity 0.2s ease, transform 0.2s ease;
    border-radius: 50px;
}


.a-burger__line:nth-child(2) {
    margin: rem(4) 0;
}


.a-burger.is-active {
    .a-burger__line {
        background-color: $c-blue;
    }

    .a-burger__line:nth-child(1) {
        transform: translateY(7px) rotate(45deg)
    }

    .a-burger__line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .a-burger__line:nth-child(2) {
        opacity: 0;
        transform: translateX(100%)
    }
}
