.a-button {
    display: inline-flex;
    padding: rem(16) rem(32);
    border-radius: 50px;
    background-color: $c-blue;
    color: #ffffff;
    font-size: rem(18);
    text-align: center;
    transition: background-color 0.15s ease, color 0.15s ease;

    &:hover {
        background-color: darken($c-blue, 10%);
    }

    &:active {
        transform: scale(0.99);
    }


    &.--gray {
        background-color: #474F5E;

        &:hover {
            background-color: darken(#474F5E, 10%);
        }
    }

    &.--white {
        background-color: #ffffff;
        color: $c-blue;

        &:hover {
            background-color: darken(#ffffff, 10%);
        }
    }

    &.--transparent {
        padding-left: 0;
        padding-right: 0;
        color: rgba(#474F5E, 0.6);
        background-color: transparent;
    }

    &.--upper {
        padding: rem(13) rem(32);
        font-size: rem(14);
        text-transform: uppercase;
        font-weight: 700;
    }
}
