.a-breadcrumbs {
    display: none;
    @include above(large) {
        padding-top: rem(35);
        text-transform: uppercase;
        display: block;
        font-size: rem(20);
    }
    #breadcrumbs>span>span {
        * {
            font-size: rem(14);
        }
        a {
            color: $c-blue;
            font-weight: 500;
        }
        .breadcrumb_last {
            color: $c-gray;
            opacity: 0.6;
        }
    }
}