.a-callout,
.cms-content .a-callout {
    padding: rem(25) rem(30);

    @include above(large) {
        padding: rem(35) rem(60);
    }


    &__title {
        font-family: $stack-main;
        font-weight: 700;
        font-size: rem(18);
        color: #516B7C;
    }
}

.a-callout {
    &.is-blue {
        background-color: #CCE5FF;
    }

    &.is-red {
        background-color: #F8D7DA;
    }

    &.is-yellow {
        background-color: #FFF3CD;
    }
}
