.a-fullWidthSlider {
    margin-left: rem(-40);
    margin-right: rem(-40);
    .slick-slide {
        margin-right: rem(30);
        @include flexvhcenter;
        height: rem(120);
        img {
            max-width: rem(155);
            max-height: rem(85);
            object-fit: contain;
        }
        @include breakpoint(xxlarge) {
            img {
                max-width: rem(142.5);
            }
        }
    }
}