.a-infoButton {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: rem(290);
    border-radius: 50px;
    border: 1px solid $c-border-gray;
    padding-top: rem(13);
    padding-bottom: rem(10);
    padding-left: rem(20);
    padding-right: rem(20);


    svg {
        width: rem(21);
        margin-right: rem(11);
        color: $c-blue;
    }

    .text {
        font-size: rem(13);
        font-weight: 500;
        margin-right: rem(14);
        color: $c-blue;
    }

    .number {
        font-weight: 700;
        font-size: rem(18);
        color: $c-gray;
    }

    &.--has-mb {
        margin-bottom: rem(23);
    }

    &.--hero-top {
        @include above(large) {
            display: none;
        }
    }
}
