.a-spacer {
    text-align: center;
    max-width: rem(400);
    margin: rem(25) auto;

    span {
        margin: 0 auto;
        display: inline-block;
        width: 23%;
        background: $c-blue;
        border-radius: 50px;
        height: rem(7);
    }
}
