.tag {
    section.t-hero.--single.l-borders {
        margin-bottom: rem(50);
        @include above(large) {
            margin-bottom: 0;
        }
    }
    .t-pressInfo {
        &__article {
            @include above(large) {
                width: calc(50% - 20px);
            }
        }
    }
}