<script id="tmpl-nf-field-submit" type="text/template">
  <button id="nf-field-{{{ data.id }}}" class="a-button {{{ data.renderClasses() }}} nf-element " type="submit" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
  <span>{{{ data.label }}}</span>
  </button>
</script>
