.t-3posts {
    position: relative;

    &__bg {
        @include absolutecover;
        @include bgcovercenter;
        background-image: url('~img/success-stories-bg.png');

        @include above(large) {
            background-image: url('~img/success-stories-bg-lg.png');
            background-size: contain;
        }

    }

    &__posts {
        @include above(large) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__post {
        padding: rem(30) rem(30);
        background: $c-blue;
        color: #ffffff;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 0 25px -3px rgba(0,0,0,0.5);
        }

        a {
            color: #ffffff;
        }

        @include above(large) {
            width: 32.5%;
            display: flex;
            flex-flow: column;
        }

        .post__title {
            text-align: center;
            margin-bottom: rem(21);

            .amount {
                display: block;
                font-size: rem(36);
                margin-bottom: rem(8);
            }

            .text {
                font-family: $stack-main;
                line-height: 1.6;
                font-weight: 400;
                opacity: 0.6;
            }
        }

        .post__button {
            display: block;
            margin: auto auto 0;
            max-width: rem(220);
            width: 100%;
        }
    }

    &__post + &__post {
        margin-top: rem(28);

        @include above(large) {
            margin-top: 0;
        }
    }

    &__button {
        margin-top: rem(30);
        font-family: $stack-secondary;

        @include above(large) {
            display: block;
            text-align: center;
            font-size: rem(24);
        }
    }
}
