.t-blockSlider {
    &__post {
        .post__image {
            height: 160px;
            @include bgcovercenter;
            &.no-bg {
                background: url(~img/justice.jpg) no-repeat;
                background-size: cover;
                background-color: $c-border-gray;
                background-position: center center;
            }
        }
        .post__body {
            padding: rem(25) rem(35);
            background: #ffffff;
            color: $c-blue;
        }
        .post__title {
            font-family: $stack-main;
            color: $c-gray;
            margin-bottom: rem(30);
            display: block;
            font-size: 1.17em;
            line-height: rem(21.4)
        }
        .post__description {
            font-size: rem(13);
            margin-bottom: rem(20);
        }
        .post__link {
            font-size: rem(14);
            color: inherit;
            font-weight: 700;
        }
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        margin-left: rem(5);
        margin-right: rem(5);
        height: auto;
        background: #ffffff;
    }
    .slick-slider::after {
        pointer-events: none;
        content: '';
        @include absolutecover;
        background: linear-gradient(to left, $c-blue, rgba($c-blue, 0));
        height: 100%;
        width: rem(15);
        z-index: 1;
        top: 0;
        right: -2px;
        left: auto;
        @include above(medium) {
            width: rem(75);
        }
    }
    .slick-slider::before {
        pointer-events: none;
        content: '';
        @include absolutecover;
        background: linear-gradient(to right, $c-blue, rgba($c-blue, 0));
        height: 100%;
        width: rem(15);
        z-index: 1;
        top: 0;
        left: -2px;
        right: auto;
        @include above(medium) {
            width: rem(75);
        }
    }
}