.t-bookVisit.--with-address {
    .l-container {
        @include above(large) {
            display: flex;
            justify-content: space-between;
        }
    }
    .cms-content {
        p {
            line-height: 1.75;
        }
    }
    .git t-bookVisit__col {
        flex: 0 0 auto;
        &.--col1 {
            @include above(large) {
                width: 40%;
            }
        }
        &.--col2 {
            @include above(large) {
                width: 48%;
            }
        }
    }
}

.nf-response-msg{
    margin-top: 1em;
    text-align: center;
    line-height: 1.75;
    font-size: 1.15em;
    color: #309949;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}
.page-id-342{
    .t-bookVisit__col.--col2 {
        margin-top: 1em;
            @include above(large){
                width: 50%;
                min-width: 50%;
            }
        }            
}