.t-checkList {
    padding-top: rem(45);
    padding-bottom: rem(45);
    background-color: rgba(71, 79, 94, 0.1);
    background-image: url('~img/k-bg.png');
    background-repeat: no-repeat;
    background-position-x: 20%;

    @include above(medium) {
        padding-bottom: 0;
    }

    @include above(large) {
        padding-bottom: rem(25);
    }

    &__title {
        text-align: left;
        margin-left: 0;
        margin-bottom: rem(50);
    }

    &__list {
        font-size: rem(18);

        @include above(medium) {
            justify-content: space-between;
            display: flex;
            flex-flow: row wrap;
        }
    }

    &__listItem {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        @include above(medium) {
            width: 50%;
            margin-bottom: rem(60);
        }

        @include above(large) {
            width: 32%;

        }

        svg {
            width: rem(24);
            margin-right: rem(28)
        }
    }

    &__listItem + &__listItem {
        margin-top: 1.2em;

        @include above(medium) {
            margin-top: 0;
        }
    }
}
