.t-contactBlock {
    padding-top: rem(40);

    .l-container {
        @include above(800) {
            display: flex;
            justify-content: space-between;
        }
    }


    &__col {
        &.--col1 {
            @include above(800) {
                width: 60%;
            }

            @include above(xlarge) {
                width: 66%;
            }
        }

        &.--col2 {
            @include above(800) {
                width: rem(320);
            }

            @include above(xlarge) {
                width: 24%;
            }
        }
    }


    &__form {
        padding-top: rem(25);
    }

    .generic-title {
        text-align: left;
        margin-bottom: rem(40);

        @include above(large) {
            margin: 0;
            margin-bottom: rem(40);
        }

    }

    .cms-content {
        p + p {
            margin-top: 0.4em;
            line-height: 1.75;
        }
    }

}
