.t-hero {
    text-align: center;
    position: relative;
    z-index: 1;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__infoButton {
        margin-bottom: rem(70);
        @include above(1260px) {
            display: none;
        }
    }
    &__title {
        font-size: rem(30);
        line-height: 1.4;
        margin-bottom: rem(30);
        @include above(large) {
            max-width: rem(800);
            font-size: rem(48);
            margin-bottom: rem(45);
        }
    }
    &__lead {
        line-height: 1.35;
        font-size: rem(18);
        @include limit-center(300);
        margin-bottom: rem(40);
        @include above(large) {
            max-width: 100%;
            font-size: rem(24);
            line-height: 1.5;
        }
    }
    &__link {}
}

.t-hero.--homepage {
    color: $c-blue;
    padding-bottom: rem(75);
    @include above(large) {
        padding-top: rem(150);
        padding-bottom: rem(150);
        text-align: left;
    }
    .t-hero__lead {
        font-family: $stack-secondary;
    }
    .t-hero__background {
        opacity: 0.5;
    }
}

.t-hero.--single {
    position: relative;
    color: #ffffff;
    padding-top: rem(70);
    padding-bottom: rem(70);
    z-index: 1;
    text-align: center;
    @include above(large) {
        padding-top: rem(140);
        padding-bottom: rem(50);
    }
    @include above(xlarge) {
        padding-top: rem(70);
    }
    &::after {
        content: '';
        @include absolutecover;
        background: rgba($c-blue, 0.65);
        z-index: -1;
    }
    .t-hero__title {
        margin: 0 auto rem(65);
    }
    .t-hero__lead {
        line-height: 1.6;
        max-width: rem(750);
        @include above(large) {
            font-size: rem(18);
        }
    }
    .t-hero__button {
        display: inline-block;
        min-width: rem(200);
        text-align: center;
    }
}