.t-lwi {
    padding-bottom: rem(50);
    position: relative;

    @include above(large) {
        padding-bottom: rem(75);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('~img/logo-bg.png');
        background-size: 320px;
        background-position: center 35%;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__list {
        @include above(large) {
            margin-top: rem(65);
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            @include limit-center(1320);
            margin-left: auto;
            margin-right: rem(0);
        }
    }

    &__listItem__link {
        display: flex;
        align-items: center;

        .image {
            transition: transform 0.3s ease;
        }

        &:hover {
            .image {
                transform: scale(1.2);
            }
            .text {
                text-decoration: underline;
            }
        }
    }

    &__listItem {
        margin-left: rem(10);
        margin-right: rem(10);
        display: flex;
        align-items: center;
        margin-bottom: rem(26);

        @include above(large) {
            flex: 0 0 auto;
            width: calc(45% - 20px);
            margin-bottom: rem(64);
        }

        .imageWrapper {
            display: block;
            width: rem(75);
            flex: 0 0 auto;
        }

        .image {
            flex: 0 0 auto;
            max-width: rem(50);
            max-height: rem(40);
            margin-right: rem(25);

        }

        .text {
            font-weight: 700;
            font-size: rem(18);
            line-height: 1.4;
            color: $c-blue;
        }
    }

    &__buttonWrapper {
        @include above(large) {
            text-align: center;
        }
    }

    &__button {
        margin-top: rem(28);

        @include above(large) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
