.t-logosSlider {
    padding-top: rem(18);
    padding-bottom: rem(0);
    max-height: rem(160);
    overflow: hidden;

    &__sliderWrapper {
        display: flex;
        align-items: center;

    }

    &__title {
        font-size: rem(14);
        color: $c-gray;
        flex: 0 0 auto;
        width: rem(100);

        @include above(large) {
            font-size: rem(22);
            width: rem(160);
        }
    }

    &__slider {
        flex: 0 0 auto;
        width: calc(100% - 100px);
        opacity: 0;

        &.slick-initialized {
            transition: opacity 0.5s ease;
            opacity: 1;
        }
    }

    .slick-slide {
        height: rem(100);
        margin-left: rem(20);

        @include above(large) {
            margin-left: rem(80);
        }

        div {
            height: 100%;
            display: flex;
            align-items: center;
        }

        img {
            max-width: rem(90);
            height: auto;
            max-height: rem(40);
            object-fit: contain;

            @include above(large) {
                max-width: rem(120);
                max-height: rem(60);
            }
        }
    }
}
