.t-media {
    .no-bg {
        background: url(~img/justice.jpg) no-repeat;
        background-size: cover;
        background-color: $c-border-gray;
        background-position: center center;
    }
    .post {
        transition: transform 0.4s ease-out;
        @include above(large) {
            flex: 0 0 auto;
            width: 32.5%;
        }
        &:hover {
            transform: translateY(-4px);
        }
        a {
            display: block;
            color: $c-blue;
        }
        &__image {
            height: rem(265);
            background-size: cover;
            margin-bottom: rem(25);
            @include above(large) {
                height: rem(370);
            }
        }
        &__title {
            font-family: $stack-main;
            font-weight: 400;
            margin-bottom: rem(15);
            line-height: 1.4;
            font-size: rem(18.72);
        }
        &__auditionName {
            font-weight: 700;
        }
    }
    &__list {
        @include above(large) {
            margin-top: rem(100);
            display: flex;
            justify-content: space-between;
        }
    }
    .post+.post {
        margin-top: rem(50);
        @include above(large) {
            margin-top: 0;
        }
    }
}