.t-otherOffers {

    &__posts {

        @include above(medium) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__post.post {
        position: relative;
        color: #ffffff;
        padding: rem(30) rem(45);

        @include above(medium) {
            width: 49%;
            flex: 0 0 auto;
        }

        @include above(large) {
            padding: rem(70) rem(65);
        }

        .post__bg {
            background-color: rgba(71, 79, 94, 0.45);
            @include absolutecover;
            @include bgcovercenter;
            opacity: 0.9;
        }

        .post__title {
            font-size: rem(24);
            margin-bottom: rem(40);
            line-height: 1.4;
            max-width: rem(400);

            @include above(large) {
                font-size: rem(36);
                margin-bottom: rem(40);
            }
        }
        .post__title--link{
            color:#fff;
        }

        .post__button {
            font-size: rem(14);
            padding: rem(10) rem(20);
        }
    }

    &__post + &__post {
        margin-top: rem(30);

        @include above(medium) {
            margin-top: rem(0);
        }
    }
}
