.t-pressInfo {
    &__lead {
        margin-top: rem(20);
        margin-bottom: rem(40);
        line-height: 1.5;
        font-weight: 500;
        max-width: rem(940);

        @include above(large) {
            font-size: rem(36);
            margin-bottom: rem(60);
        }
    }

    &__articles {


        @include above(medium) {
            display: flex;
            flex-flow: row wrap;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__article {
        margin-bottom: rem(20);
        display: flex;

        transition: all 0.2s ease;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 0 25px -2px rgba($c-blue, 0.25);
        }


        @include above(medium) {
            width: calc(50% - 20px);
            margin-left: 10px;
            margin-right: 10px;
        }

        @include above(large) {
            width: calc(33.3334% - 20px);
        }
    }
}
