.t-richList {
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: rem(80);
        margin-left: rem(-15);
        margin-right: rem(-15);
        @include above(large) {
            margin-top: rem(120);
        }
    }
    &__listItem {
        flex: 0 0 auto;
        width: calc(50% - 30px);
        margin-left: rem(15);
        margin-right: rem(15);
        margin-bottom: rem(50);
        @include above(large) {
            width: calc(25% - 30px);
            margin-bottom: rem(90);
        }
        .item__header {
            @include above(large) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: rem(10);
            }
        }
        .image {
            margin: 0 auto;
            display: block;
            max-width: rem(90);
            max-height: rem(45);
            object-fit: contain;
            @include above(large) {
                margin: 0;
                margin-right: rem(25);
                flex: 0 0 auto;
                width: rem(50);
            }
        }
        .title {
            font-family: $stack-secondary;
            font-size: rem(24);
            font-weight: 700;
            line-height: 1.4;
            text-align: center;
            margin-top: rem(10);
            margin-bottom: rem(10);
            @include above(large) {
                font-size: rem(42);
            }
        }
        .description {
            text-align: center;
            opacity: 0.6;
            line-height: 1.4;
            font-size: rem(14);
            @include above(large) {
                font-size: rem(18);
            }
        }
        .link {
            display: block;
            margin-top: rem(17);
            color: #ffffff;
            font-weight: 700;
            text-transform: uppercase;
            font-size: rem(14);
            text-align: center;
        }
    }
}

.t-richList.--highlights {
    .t-richList__list {
        margin: rem(20) 0;
        display: block;
        text-align: left;
        @include above(large) {
            display: flex;
            justify-content: space-between;
        }
    }
    .t-richList__listItem {
        width: 100%;
        margin: 0;
        @include above(large) {
            flex: 0 0 auto;
            width: 29.5%;
        }
        .header {
            display: flex;
            align-items: center;
        }
        .image {
            margin: 0;
            margin-right: rem(30);
        }
        .link {
            text-align: left;
            margin-bottom: rem(40);
        }
        .title {
            text-align: left;
            flex: 0 0 auto;
            width: calc(100% - 100px);
            margin-bottom: rem(22);
            @include above(large) {
                font-size: rem(26);
            }
        }
        .description {
            width: 100%;
            text-align: left;
            line-height: 1.8;
            font-size: rem(16);
        }
    }
    .t-richList__listItem+.t-richList__listItem {
        margin-top: rem(25);
        @include above(large) {
            margin-top: 0;
        }
    }
}

.t-richList__buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}