.t-related {
    .t-media__list {
        .m-pressTile {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
        }
        .m-pressTile__title {
            margin-bottom: 0;
        }
        .m-pressTile__image {
            height: 12rem;
        }
        .m-pressTile__body {
            min-height: 220px;
        }
    }
    @media (min-width:768px) {
        .m-pressTile {
            width: 48% !important;
            max-width: 48% !important;
            margin-left: 1% !important;
            margin-right: 1% !important;
        }
    }
    @include breakpoint(xlarge) {
        .t-pressInfo__articles {
            flex-flow: row;
        }
        .m-pressTile {
            margin: 0;
            width: 24% !important;
            max-width: 24% !important;
        }
    }
}