.t-steps {
    position: relative;
    &__bg {
        top: 0;
        @include absolutecover;
        @include bgcovercenter;
        background-image: url('~img/steps-bg-lg.png');
        height: 110%;
        @include above(medium) {
            height: 100%;
            background-size: contain;
            background-position: right center;
        }
    }
    &__step {
        background-color: #dfeffc;
        color: $c-blue;
        height: 100%;
        max-width: rem(280);
        display: flex !important;
        padding: rem(14) rem(25);
        transition: all 0.5s ease;
        cursor: pointer;
        position: relative;
        @include above(large) {
            height: auto;
            flex-flow: column;
            text-align: right;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: rem(20);
            padding: rem(25);
        }
        &:hover {
            background-color: #BDD7ED;
        }
        &::before {
            content: '';
            @include square(20);
            background: #dfeffc;
            position: absolute;
            bottom: 0;
            transform: translateY(0%) rotate(45deg);
            opacity: 0;
            transition: all 0.5s ease;
            @include above(large) {
                right: rem(-10);
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .number {
            flex: 0 0 auto;
            width: rem(20);
            font-size: rem(24);
            margin-right: rem(5);
            @include above(large) {
                font-size: rem(32);
            }
        }
        .title {
            padding-top: rem(5);
            font-family: $stack-secondary;
            line-height: 1.25;
            @include above(large) {
                font-size: rem(17);
            }
        }
    }
    &__contentSlider {
        margin-top: rem(45);
        .cms-content {
            color: #516b7c;
            h2,
            h3,
            h4,
            h5,
            h6 {
                @include above(large) {
                    font-size: rem(36)
                }
            }
            p {
                font-size: rem(15);
                line-height: 1.6;
                @include above(large) {
                    font-size: rem(18);
                }
            }
            ul {
                margin-top: rem(25);
                margin-bottom: rem(5);
                @include above(large) {
                    margin-top: rem(45);
                    margin-bottom: rem(15);
                }
                li {
                    font-size: rem(18);
                    padding-left: rem(36);
                    font-weight: 700;
                    position: relative;
                    @include above(large) {
                        padding-left: rem(60);
                    }
                    &::before {
                        content: '';
                        background-image: url('~img/tick.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        width: 23px;
                        height: 23px;
                        position: absolute;
                        left: 0;
                        top: rem(8);
                        @include above(large) {
                            top: rem(0);
                        }
                    }
                }
                li+li {
                    margin-top: rem(13);
                    @include above(large) {
                        margin-top: rem(35);
                    }
                }
            }
        }
    }
    &__content {
        li::before {
            top: -2px !important;
            background-color: transparent !important;
        }
        li+li {
            margin-top: 2.5em !important;
        }
    }
}

.t-steps__sliders {
    @include above(large) {
        display: flex;
    }
}

.t-steps__navSlider {
    @include above(large) {
        flex: 0 0 auto;
        width: rem(300);
    }
    .slick-track {
        display: flex;
        margin-bottom: rem(20);
    }
    .slick-slide {
        margin-right: rem(25);
        height: auto;
        >div {
            height: 100%;
        }
    }
    .slick-slide.slick-active {
        .t-steps__step {
            background-color: $c-blue;
            color: #ffffff;
            font-weight: 700;
            &::before {
                opacity: 1;
                background: $c-blue;
                transform: translateY(50%) rotate(45deg);
            }
        }
    }
    .t-steps__step.is-active {
        background-color: $c-blue;
        color: #ffffff;
        font-weight: 700;
        &::before {
            opacity: 1;
            background: $c-blue;
            transform: translateY(50%) rotate(45deg);
        }
    }
}

.t-steps__contentSlider {
    @include above(large) {
        width: calc(80% - 300px);
        margin-left: rem(60);
        margin-top: rem(30);
    }
}