.t-textBlocks {
    @include above(large) {
        padding-top: rem(65);
    }

    .a-spacer {
        @include above(large) {
            margin-bottom: rem(35);
        }
    }

    .block {
        @include above(large) {
            display: flex;
            justify-content: space-between;
        }

        &__col {
            @include above(large) {
                flex: 0 0 auto;
            }

            &.--col1 {
                margin-bottom: rem(25);

                @include above(large) {
                    width: 46%;
                }
            }

            &.--col2 {
                @include above(large) {
                    width: 46%;
                    display: flex;
                    align-items: center;
                }
            }
        }

        &__image {
            height: rem(230);
            background-size: cover;

            @include above(large) {
                min-height: rem(355);
            }
        }

        &__content {
            color: $c-blue;

            @include above(large) {
                font-size: rem(18);
            }

            > * {
                line-height: 1.85;
            }
        }
    }

    .block + .block {
        margin-top: rem(50);

        @include above(large) {
            margin-top: rem(30);
        }
    }

    .block.even {
        .block__col {
            &.--col1 {
                margin-left: rem(-40);

                @include above(large) {
                    margin-left: 0;
                    order: 2;
                }
            }
        }
    }

    .block.odd {
        .block__col {
            &.--col1 {
                margin-right: rem(-40);

                @include above(large) {
                    margin-right: 0;
                }
            }
        }
    }
}
