.t-tags {
    .title {
        margin-bottom: rem(20);
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        li {
            margin-top: rem(10);
            margin-left: rem(2);
            margin-right: rem(2);
        }
        li a {
            color: #205784;
            line-height: 1.2;
            font-size: rem(14);
            border: 1px solid $c-border-lightblue;
            display: block;
            padding: rem(10) rem(22);
            line-height: rem(20);
            white-space: nowrap;
            &:hover {
                border-color: #205784;
                transform: translateY(-4px);
            }
        }
    }
    &--popular {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}