.t-whyUs {
    .generic-description p {
        opacity: 1;

    }

    .generic-description a {
        position: relative;
        color: rgba(255, 255, 255, 0.6)
    }

    .generic-description a:visited {
        color: rgba(255, 255, 255, 0.6)
    }

    .generic-description a:hover:after {
        transform: translateX(5px);
    }

    .generic-description a::after {
        content: "→";
        font-family: slick;
        position: absolute;
        margin-left: 20px;
        font-size: 18px;
        line-height: 1.8;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        transition: 0.2s linear;

        @include breakpoint(large) {
            font-size: 20px;
        }
    }

    text-align: center;

    @include above(large) {
        padding-bottom: rem(90);
    }

    &__button {}

    .l-container.--slider {
        @include above(large) {
            margin-top: rem(90);
            max-width: 91.5%;
            margin-right: rem(-40);
            margin-left: auto;
        }
    }

    &__slider {
        margin-bottom: rem(40);
        position: relative;
        margin-right: rem(-25);

        &::after {
            pointer-events: none;
            content: '';
            @include absolutecover;
            background: linear-gradient(to left, $c-blue, rgba($c-blue, 0));
            height: 100%;
            width: rem(110);
            z-index: 1;
            top: 0;
            right: -2px;
            left: auto;

            @include above(large) {
                width: 300px;
            }
        }

        .slick-slide {
            width: rem(332);
            margin-right: rem(10);
            margin-left: rem(10);
            outline: none;

            @include above(large) {
                width: auto;
                max-width: rem(467);
            }
        }
    }

    .slide {
        &__image {
            height: rem(180);
            background-image: url('~img/image.jpg');
            @include bgcovercenter;
            max-width: 80%;
            margin: 0 auto rem(-60);
            position: relative;
            z-index: 1;

            @include above(large) {
                height: rem(240);
                max-width: 85%;
                margin: 0 auto rem(-120);
            }
        }

        &__body {
            background-color: #ffffff;
            padding: rem(100) 10% rem(30);

            @include above(large) {
                padding: rem(160) rem(30) rem(30);
            }

            .element {
                display: flex;
                margin-bottom: rem(30);

                @include above(large) {
                    margin-bottom: rem(65);
                }

                .has-line {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: rem(70);
                        left: rem(-25);
                        right: 0;
                        margin: auto;
                        width: 2px;
                        height: 65%;
                        background: #c8e3fa;
                    }
                }
            }

            .icon {
                width: rem(40);
                margin-right: rem(25);
            }

            .text {
                color: $c-blue;
                text-align: left;
                line-height: 1.5;
                font-size: rem(15);
            }
        }
    }

    &__sliderNav {
        display: flex;
        justify-content: center;
    }

    .slider-nav {
        @include square(40);
        border: 2px solid #ffffff;
        border-radius: 100%;
        @include flexvhcenter;
        margin: rem(10) rem(10) rem(40);

        &.--next {
            transform: rotate(180deg);
        }

        svg {
            width: rem(18);
        }
    }
}
