.t-withSidebar {
    .l-container {
        @include above(large) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__col {
        flex: 0 0 auto;

        &.--col1 {
            max-width: rem(920);
            margin-bottom: rem(40);

            @include above(large) {
                width: 60%;
                margin-bottom: 0;
            }

            @include above(xlarge) {
                width: 66%;
            }
        }

        &.--col2 {
            @include above(large) {
                width: rem(320);
            }

            @include above(xlarge) {
                width: 24%;
            }
        }
    }
}
