.a-picture {
  background-color: #ffffff;
}

img.lazyload,
img.lazyloading,
.a-picture .lazyload,
.a-picture .lazyloading {
  opacity: 0;
}

img.lazyloaded,
picture .lazyloaded {
  transition: opacity 0.4s linear;
  opacity: 1
}

.--fade-up-container {
  opacity: 0;
}

.slick {
  opacity: 0;
  max-height: 400px;
  transition: opacity 1s ease;
}

.slick.slick-initialized {
  opacity: 1;
  max-height: 100%;
}

.m-successTile__image.lazyload,
.m-successTile__image.lazyloading,
.m-pressTile__image.lazyload,
.m-pressTile__image.lazyloading {
  opacity: 0;
}

.m-successTile__image.lazyloaded,
.m-pressTile__image.lazyloaded {
  transition: opacity 1s ease;
  opacity: 1;
}
